.nd_box {
    width: 7rem;
    padding: .3rem .2rem .4rem;
    background: #fff;
    margin: 0 auto;
}
.nd_title{
    font-size: .3rem;
    color:#272727;
    margin-bottom: .3rem;
}
.nd_woc,.pd_woc{
    font-size: .16rem;
    color: #272727;
    margin-bottom: .25rem;
}
.nd_pic{
    width: 6.5rem;
    height: 4rem;
    margin: 0 auto;
    margin-bottom: .25rem;

}
.pd_pic{
    /* width: 3.38rem;
    height: 4.1rem; */
    margin: 0 auto
}
.pd_wocs{
    font-size: .16rem;
    color: #272727;
    margin-bottom: .25rem;
    margin-top: .2rem 
}